<div class="navbar">
    <button type="button" class="navbar-toggle" (click)="toggleSidebar()">
    </button>
    <span class="navbar-title">Dynamic Dashboard</span>
  </div>
  
  <div class="sidebar-container">
    <div class="sidebar">
      <div class="card-container">
        <div class="card" *ngFor="let item of sidebarCards">
          <div class="card-content">
            <p>{{ item.cardDescription }}</p>
          </div>
          <div class="icon-container">
            <button class="custom-icon-button" pTooltip="View Details" tooltipPosition="top" (click)="showDetails(item)">
              <i class="pi pi-eye custom-icon"></i>
            </button>
            <div class="card-popup" *ngIf="isPopupVisible">
              <div class="card-popup-content">
                <div class="close-button" (click)="hideDetails()">
                  <i class="pi pi-times"></i>
                </div>
                <p class="card-icon">
                  <i [class]="'pi ' + icon"></i>    
                </p>      
                <p class="value-description">{{ cardValueDescription }}</p>
                <p class="card-value">{{ cardValue }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <app-normal-cards></app-normal-cards>
  </div>
  <router-outlet></router-outlet>  